@use "../variables";
.left-side-wrapper,
.left-side-wrapper-mobile {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  .filter-title {
    color: variables.$grey;
    font-size: 13px;
    line-height: 18px;
  }
  .filtering-wrapper {
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 274px;
    .checkbox-group {
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: 142px;
    }
    .input-group {
      display: flex;
      flex-direction: column;
      background: white;
      padding: 15px;
      width: 100%;
      ::-webkit-scrollbar {
        visibility: hidden;
      }
      ::-webkit-scrollbar {
        width: 4px;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        height: 78px;
        background-color: variables.$light-grey-3;
      }
      .search-box {
        border-radius: 2px;
        border: 2px solid variables.$light-grey-3;
        padding: 20px;
        font-family: variables.$font-primary;
      }
      label {
        font-family: "OpenSans";
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: variables.$grey-3;
        cursor: pointer;
        margin: 7px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      [type="radio"] {
        width: 22px;
        height: 22px;
        border: 2px solid variables.$light-grey-2;
        background: variables.$white;
        color: variables.$base-color;
        vertical-align: middle;
        -webkit-appearance: none;
        border-radius: 50%;
        cursor: pointer;
      }
      [type="radio"]::before {
        content: "";
        display: block;
      }
      [type="radio"]:checked {
        border: 2px solid variables.$base-color;
        background: variables.$white;
        color: variables.$base-color;
      }

      [type="radio"]:checked:before {
        color: variables.$base-color;
        text-align: center;
        content: "\2713";
      }
      [type="checkbox"] {
        width: 22px;
        height: 22px;
        border: 2px solid variables.$light-grey-2;
        border-radius: 2px;
        background: variables.$white;
        color: variables.$base-color;
        box-shadow: 0px 1px 7px 0px rgba(93, 56, 192, 0.4);
        vertical-align: middle;
        -webkit-appearance: none;
        cursor: pointer;
      }
      [type="checkbox"]::before {
        content: "";
        display: block;
      }
      [type="checkbox"]:checked {
        border-radius: 2px;
        border: 2px solid variables.$base-color;
        background: variables.$base-color;
        color: variables.$base-color;
      }

      [type="checkbox"]:checked:before {
        color: variables.$white;
        text-align: center;
        content: "\2713";
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .left-side-wrapper {
    display: none;
  }
}
