@use "variables";

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvatica";
  src: url("../fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
body {
  font-family: variables.$font-primary;
  font-weight: 600;
  margin: 0 auto;
  background-color: variables.$page-bg;
}

header {
  background-color: variables.$base-color;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.turkish-lira {
  font-family: sans-serif;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: variables.$font-secondary;
  font-weight: 400;
  font-size: 13px;
  color: variables.$base-color;
}

@media only screen and (min-width: 600px) {
  .section {
    flex: 1 0 0;
  }
}

@media only screen and (min-width: 800px) {
  .middle-section {
    flex: 3 0px;
  }
}
