$page-bg: #fafafa;
$base-color: #1ea4ce;
$white: #ffff;
$black: #191919;
$light-grey: #f2f0fd;
$grey: #697488;
$grey-2: #6f6f6f;
$grey-3: #525252;
$grey-4: #dfdee2;
$font-primary: "OpenSansSemiBold";
$font-secondary: "OpenSans";
$font-tertiary: "Helvatica";
